<div class="plan">
    <ul class="plan-list">
        <li class="plan-title">プランテキスト</li>
        <li class="plan-price">
            <div class="price-figure">
                <span class="sign">￥</span><span class="figure">5000</span>
            </div>
            <div class="monthly">月額</div>
        </li>
        <li class="plan-cont">入会金0円</li>
        <li class="plan-cont">平日:9時~17時</li>
        <li class="plan-cont">土日祝:利用なし</li>
        <li class="plan-cont">コアタイムでの利用に最適なプラン</li>
    </ul>

    <ul class="plan-list">
        <li class="plan-title">プランテキスト</li>
        <li class="plan-price">
            <div class="price-figure">
                <span class="sign">￥</span><span class="figure">5000</span>
            </div>
            <div class="monthly">月額</div>
        </li>
        <li class="plan-cont">入会金0円</li>
        <li class="plan-cont">平日:9時~17時</li>
        <li class="plan-cont">土日祝:利用なし</li>
        <li class="plan-cont">コアタイムでの利用に最適なプラン</li>
    </ul>
</div>