@use "../../variables" as *;
.news-title{
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    .english-title{
        font-size: $fontsize-l;
        font-family: $fontfamily-mincho;
        margin-bottom: 0px;
    }
    .japanese-title{
        font-size: $fontsize-m;
        margin-left: 16px;
    }
    @media(min-width:$breakpoint-lg){
        .english-title{
            font-size: $fontsize-xxl;
        }
    }
}