@use "../../variables" as *;
.news-title{
    display: flex;
    align-items: center;
    .english-title{
        font-size: $fontsize-l;
        font-family: $fontfamily-mincho;
        margin-bottom: 32px;

        @media(min-width:$breakpoint-lg){
            font-size: $fontsize-xxl;
        }
    }
    .japanese-title{
        font-size: $fontsize-m;
        margin-left: 16px;
        margin-top: 17px;
        margin-bottom: 49px;
    }
}