@use "../../variables" as *;
.button{
    background-color: $black;
    padding: 12.5px 64px;
    color: white;
    text-decoration: none;
    transition: 0.2s ease;
    font-size: $fontsize-s;

    &:hover{
        text-decoration: none;
        color: white;
        background-color: $orange_bistre;
    }

    @media (min-width:$breakpoint-md) {
        padding: 17.5px 49px;
    }

    @media (min-width:$breakpoint-lg) {
        padding: 17.5px 74px;
    }
}