$color-example: #ff0000;
$fontsize-example: 16px;

$white: #ffffff;
$white_smoke: #f5f5f5;
$gray_desertStorm: #ece9e6;
$gray_gainsboro: #dddddd;
$orange_zorba: #a19283;
$glay_nobel: #999999;
$orange_bistre: #442606;
$black_50: rgba(0, 0, 0, 0.5);
$black: #000000;

$fontsize-xs: 12px;
$fontsize-s: 14px;
$fontsize-m: 16px;
$fontsize-l: 20px;
$fontsize-xl: 36px;
$fontsize-xll: 40px;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$fontfamily-mincho: "Roboto", "Noto Sans JP", sans-serif;
$fonyfamily-gothic: "Noto Serif JP", serif;
